body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;

}


@font-face {
    font-family: "myFont";
    src: url("../codepen\ pag\ finalproyect/fonts/Catamaran.ttf");
}


#custom-font {
    font-family: "myFont";
}